*{
  padding: 0;
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
}

:root{
  --nav-bg-color: rgb(77, 76, 125);
  --btn-color: rgb(77, 76, 125);
  --btn-color-hover: rgb(77, 76, 125, 0.7);
  --link-color: rgb(110, 109, 175);
  --bg-color: rgb(249, 245, 235);
}

body{
  background-color: var(--bg-color);
}

.navbar{
  height: 3rem;
  /* position: sticky; */
  position: relative;
  background-color: var(--nav-bg-color);
  color: white;
  font-weight: bold;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 3;
}

.nav-links{
  width: auto;
  font-size: 1.2rem;
}
.nav-links .link{
  font-size: 1.1rem;
  padding: 0.5rem;
  border: none;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.5rem;
  text-decoration: none;
  color: white;
  text-shadow: 0 5px 5px black;
  transition: all 0.3s;
}
.nav-links .link:hover{
  background-color: rgba(255, 255, 255, 0.219);
}

.link-signin{
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  color: var(--nav-bg-color);
  cursor: pointer;
  margin: 1rem;
  transition: all 0.3s;
}
.link-signin:hover{
  background-color: rgb(193, 182, 201);
}
.nav-title{
  width: auto;
  font-size: 1.2rem;
  cursor: pointer;
}

.auth-container{
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.inputs-wrapper{
  width: 35rem;
  height: 40rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs-wrapper .title{
  font-size: 1.5rem;
  padding-top: 3rem;
}
.inputs-wrapper .inputs{
  width: 80%;
  padding: 2rem;
}
.inputs-wrapper .inputs .input-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}
input{
  border: 2px solid rgb(234, 227, 210);
  height: 1.5rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border-radius: 5px;
}
input:focus{
  border: 2px solid var(--nav-bg-color);
}
/* .inputs-wrapper .inputs .input-div input:invalid{
  border: 2px solid red;
} */
label{
  margin-bottom: 5px;
  color: rgb(83, 83, 83);
}

.show-pass-div{
  display: flex;
  align-items: center;
}
.show-pass-div input{
  width: 1rem;
  cursor: pointer;
}
.show-pass-div span{
  font-weight: 500;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.login-btn, .register-btn{
  font-size: 1.1rem;
  padding: 0.7rem;
  border: none;
  background-color: var(--btn-color);
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  text-decoration: none;
  color: white;
}
.login-btn:hover, .register-btn:hover{
  background-color: var(--btn-color-hover);
  transition: all 0.3s;
}

.reg-option, .log-option{
  font-size: 1.1rem;
  margin-top: 1rem;
}
.reg-option button, .log-option button{
 padding-left: 0.5rem;
 background: none;
 border: none;
 font-size: 1.1rem;
 cursor: pointer;
 color: var(--link-color);
}


.searchComp-div{
  border: 2px solid lightgrey;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
  max-height: 5rem;
  display: flex;
  max-width: 45rem;
}
.searchComp-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchComp-div .search-btn{
  font-size: 1.1rem;
  padding: 1rem;
  border: none;
  background-color: var(--btn-color);
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
.searchComp-div .search-btn:hover{
  background-color: var(--btn-color-hover);
}
.search-dropdown{
  list-style: none;
  background-color: white;
  border: 2px solid rgb(234, 227, 210);
  border-top: none !important;
  border-radius: 10px;
  width: auto;
  z-index: 3;
  overflow-y: scroll;
}
.search-dropdown li{
  width: 15rem;
  height: 3.5rem;
  cursor: pointer;
  transition: all 0.3s;
  justify-content: left;
  border-top: 1px solid lightgray;
}
.search-dropdown li .loc-name{
  display: flex;
  flex-direction: column;
}
.search-dropdown li .loc-name .state{
  opacity: 0.6;
}
.search-dropdown li:hover{
  background-color: rgb(221, 221, 221);
}
.des-icon{
  width: 1.3rem;
  margin: 0.9rem;
}

.home-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title{
  font-size: 2.5rem;
  padding: 4rem;
}


.section-div{
  padding-left: 15rem;
  padding-right: 15rem;
}
.section-header{
  display: flex;
  flex-direction: column;
}
.section-title{
  font-size: 1.5rem;
}
.section-desc{
  opacity: 0.8;
  font-size: 1.2rem;
}

.card{
  width: 12rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-img{
  height: 12rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.card-img img{
  width: auto;
  height: 100%;
}

.apa-list{
  list-style: none;
  width: 100%;
}
.apa-list .apa-list-item{
  border: 1px solid lightgray;
  border-radius: 20px;
  width: 100%;
  height: 18rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.apa-card-img{
  height: 15rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}
.apa-card-img img{
  width: auto;
  height: 100%;
}

.carousel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 18rem;
  width: 18rem;
}
.carousel-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__next .carousel__icon, .carousel__prev .carousel__icon{
  border: 2px solid white;
  border-radius: 10px;
  /* fill: white; */
  box-shadow: 0 0 10px 1px black;
  visibility: hidden;
}
.carousel:hover button svg{
  visibility: visible;
}


/*errors*/
.error{
  border: 2px solid red !important;
}
.error-msg{
  color: red;
  font-weight: 300;
  margin-bottom: 0.5rem;
}


/*utils*/
.d-flex{
  display: flex;
}
.f-col{
  flex-direction: column;
}
.f-wrap{
  flex-wrap: wrap;
}
.j-center{
  justify-content: center;
}
.j-between{
  justify-content: space-between;
}
.a-center{
  align-items: center;
}
.w-100{
  width: 100%;
}
.h-100{
  height: 100vh;
}
.mt-5{
  margin-top: 5rem;
}
.c-pointer{
  cursor: pointer;
}

/*transition-tag*/
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}


/*media*/
@media(max-width: 1500px){
  .section-div{
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media(max-width: 1000px){
  .section-div{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-title{
    font-size: 1.3rem;
  }
  .section-desc{
    opacity: 0.8;
    font-size: 1.05rem;
  }
  .home-title{
    font-size: 2.2rem;
  }
}