*{
  padding: 0;
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
}

:root{
  --nav-bg-color: rgb(77, 76, 125);
  --btn-color: rgb(77, 76, 125);
  --btn-color-hover: rgb(77, 76, 125, 0.7);
  --link-color: rgb(110, 109, 175);
  --bg-color: rgb(249, 245, 235);
}

body{
  background-color: var(--bg-color);
}

.navbar{
  height: 3rem;
  position: sticky;
  background-color: var(--nav-bg-color);
  color: white;
  font-weight: bold;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav-links button{
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid white;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.5rem;
  text-decoration: none;
  color: white;
  
}
.nav-links button:hover{
  background-color: rgba(255, 255, 255, 0.219);
}
.nav-links{
  width: auto;
  font-size: 1.2rem;
}

.nav-title{
  width: auto;
  font-size: 1.2rem;
  cursor: pointer;
}

.auth-container{
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.inputs-wrapper{
  width: 35rem;
  height: 40rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs-wrapper .title{
  font-size: 1.5rem;
  padding-top: 3rem;
}
.inputs-wrapper .inputs{
  width: 80%;
  padding: 2rem;
}
.inputs-wrapper .inputs .input-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}
.inputs-wrapper .inputs .input-div input{
  border: 2px solid rgb(234, 227, 210);
  height: 1.5rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border-radius: 5px;
}
.inputs-wrapper .inputs .input-div input:focus{
  border: 2px solid var(--nav-bg-color);
}
/* .inputs-wrapper .inputs .input-div input:invalid{
  border: 2px solid red;
} */
.inputs-wrapper .inputs .input-div label{
  margin-bottom: 5px;
  color: rgb(65, 65, 65);
}

.show-pass-div{
  display: flex;
  align-items: center;
}
.show-pass-div input{
  width: 1rem;
  cursor: pointer;
}
.show-pass-div span{
  font-weight: 500;
  font-size: 1rem;
  margin-left: 0.5rem;
}


.login-btn, .register-btn{
  font-size: 1.1rem;
  padding: 0.7rem;
  border: none;
  background-color: var(--btn-color);
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  text-decoration: none;
  color: white;
}
.login-btn:hover, .register-btn:hover{
  background-color: var(--btn-color-hover);
  transition: all 0.3s;
}

.reg-option, .log-option{
  font-size: 1.1rem;
  margin-top: 1rem;
}
.reg-option button, .log-option button{
 padding-left: 0.5rem;
 background: none;
 border: none;
 font-size: 1.1rem;
 cursor: pointer;
 color: var(--link-color);
}


.error{
  border: 2px solid red !important;
}
.error-msg{
  color: red;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.profil{
  display: flex;
  justify-content: center;
  flex-direction: row;
}